{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Admin Dashboard{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for key, arr in stats %}
            <div class="col">
                <div class="card bg-dark border-primary text-white">

                    <div class="card-body">
                        <h5 class="card-title">{{ arr.title }}</h5>
                        <p class="card-text">{{ arr.value }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
